@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}


.cabecalho{
    display: flex;
    background: linear-gradient(68.15deg, #748BC6 16.62%, #c1c3c9 85.61%);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s;
}

.cabecalho-imagem {
    height: 53px;
}

.cabecalho-calculadora{
    color: #FFF2E7;
    font-weight: 500;
    font-size: 30px;
    width: 730px;
}

.cabecalho-menu{
    color: #FFF2E7;
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item ul li a {
    font-weight: 400;
    font-size: 20px;
}


body {
  min-height: 100vh;
  background: linear-gradient(68.15deg, #748BC6 16.62%, #c1c3c9 85.61%);
  justify-content: center;
}

.container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.accordion {
  position: relative;
  width: 350px;
  margin-left: 290px;
}

.title {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

.content-accordion {
  margin-top: 35px;
  margin-right: 50px;
}

.question-answer {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.question {
  display: flex;
  justify-content: space-between;
}

.accordion-img {
  position: relative;
  width: 100px;
}

.title-question {
  margin: 1.4rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.up-icon {
  display: none;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.8;
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .up-icon {
  display: inline;
}

.show-text .down-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .accordion {
    width: 920px;
    height: 0;
    display: flex;
  }

  .accordion-img {
    position: relative;
    width: 420px;
    top: 88px;
  }

  .question-answer {
    width: 380px;
  }

  .content-accordion {
    margin-top: 85px;
  }

  .title {
    margin-top: 50px;
    font-size: 3rem;
  }
}